@charset "utf-8";

.drawText {position: absolute;top: 41px;left: 40px;display: flex;}
.drawText .doitDraw {width: auto;height: 30px;border-radius: 20px;background-color: #fd6522;text-align: center;line-height: 30px;color: #fff;padding: 0 10px;}
.drawText .doitDraw span {font-family: "NanumSquareRoundEB";font-size: 20px;}
.drawText  p {font-size: 22px;line-height: 28px;color: #611607;margin-left: 34px;position: relative;top: 2px;}
.drawText  p::after {content:"";background: url(../images/common/point_btn.png) no-repeat center/19px 19px;width: 24px;height: 24px;position: absolute;left: -28px;top: 0px;}
.dragWrap {position: absolute;width: 1450px;height: 783px;top: 50%;left: 50%;transform: translate(-50%, -50%);}
/* 배경 */
.dragBg {position: relative;width: 100%;height: 693px;top: -70px;left: 50%;transform: translateX(-50%);}
.dragBg img {width: 1408px;position: absolute;top: 0;left: 50%;transform: translateX(-50%);}

/* 아래 드래그 */
.dragItems {width: 100%;height: 130px;position: absolute;bottom: -80px;left: 50%;background: #f9e9d3;border-radius: 10px;transform: translate(-50%);}
.dragItems > div {float: left;position: relative;}
.dragItems > div.dragImg {width: 920px;height: 100%;}
.dragItems .imgItem {width: 130px;height: 130px;position: absolute;top: 50%;transform: translateY(-50%);}
.dragItems .imgItem:nth-child(1) {left: 20px;cursor: pointer;}
.dragItems .imgItem:nth-child(2) {width: 340px;left: 160px;cursor: pointer;}
.dragItems .imgItem:nth-child(3) {left: 505px;cursor: pointer;}
.dragItems .imgItem:nth-child(4) {width: 240px;left: 630px;cursor: pointer;}
.dragItems .imgItem:nth-child(5) {width: 170px;left: 847px;cursor: pointer;}
.dragItems .imgItem img {width: 130px;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);pointer-events: none;}
.dragItems .imgItem:nth-child(2) img {width: 340px;}
.dragItems .imgItem:nth-child(4) img {width: 240px;}
.dragItems .imgItem:nth-child(5) img {width: 170px;}

/* 텍스트 */
.dragItems .txtItem {width: auto;height: 29px;padding: 0 10px;color:#415daa;background-color:#b4fffd;border: 2px solid #55c5ef;border-radius: 5px;box-shadow: 1px 2px 2px #c8caca;box-sizing: content-box;margin-left: 14px;float: left;cursor: pointer;position: absolute;top: 50%; transform: translateY(-50%); white-space: nowrap;}
.dragItems .txtItem span {font-size: 18px;line-height: 28px; font-family: "NanumSquareB";}
.dragItems .txtItem:nth-child(2) {left: 45px;}
.dragItems .txtItem:nth-child(3) {left: 90px;}
.dragItems .txtItem:nth-child(4) {left: 197px;}
.dragItems .txtItem:nth-child(5) {left: 258px;}

.dragItems .dragtext {width: 360px;height: 130px;left: 110px;}
.answerArea .answer {width: 146px;height: 145px;position: absolute;}
.answerArea .answer img {width: 140px;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);display: none;}
.answerArea .answer input[type="text"] {top: 0px;left: 0px;width: 100%;height: 100%;font-size: 20px;position: absolute;padding: 0 5px;}
.answerArea .answer:nth-child(1) {top: 226px;left: 25px;}
.answerArea .answer:nth-child(2) {top: 601px;left: 25px;width: 325px;height: 106px;}
.answerArea .answer:nth-child(2) img {width: 300px;}
.answerArea .answer:nth-child(3) {width: 111px;height: 113px;top: -66px;left: 1186px;}
.answerArea .answer:nth-child(3) img {width: 106px;}
.answerArea .answer:nth-child(4) {width: 225px;height: 124px;top: 204px;left: 1196px;}
.answerArea .answer:nth-child(4) img {width: 218px;}
.answerArea .answer:nth-child(5) {top: 358px;left: 1234px;height: 108px;width: 107px;}
.answerArea .answer:nth-child(5) img {width: 114px;}

.answerArea .answer:nth-child(6) {top: 136px;left: 1250px;width: 71px;height: 29px;}
.answerArea .answer:nth-child(7) {top: 155px;left: 44px;width: 71px;height: 29px;}
.answerArea .answer:nth-child(8) {top: 460px;left: 136px;width: 72px;height: 30px;}
.answerArea .answer:nth-child(9) {top: 682px;left: 513px;width: 92px;height: 30px;}
.answerArea .answer:nth-child(10) {top: 291px;left: 1096px;width: 73px;height: 30px;}
.answerArea .answer:nth-child(9) input[type="text"] {font-size: 17px;}

.thinkanswerBtn {position:absolute;bottom: 137px;right: 45px;width: 107px;height: 29px;cursor: pointer;}
.thinkresetBtn {display: none;position:absolute;bottom: 137px;right: 45px;width: 107px;height: 29px;cursor: pointer;}
.dragwrap,.bg{user-select: none;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;}